.idea
artifacts

# NodeJS modules
node_modules/
.tscache/

/**/*.js.map
src/client/**/*.js
src/client/styles/**/*.css
src/server/**/*.js
src/typescript-references/**/*.js
!/src/client/bower_components/**/*.js