<form >
      <div class="form-group">
          <label>Github user</label>
          <input
                  class="form-control"
                  type="text"
                  ng-model="githubUser"
                  ng-change="userChanged()"
                  placeholder="Search Github user"
                  autofocus>
      </div>

    <div class="form-group" ng-show="repositories.length" ng-hide="!githubUser">
        <label>Repository</label>
        <select class="form-control"
                ng-options="repository.name for repository in repositories"
                ng-model="selectedRepository"
                ng-change="selectedRepositoryChanged(repository)"
                ></select>
    </div>

    <div class="form-group" ng-show="errorMessage">
        <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
    </div>
</form>
