<div ng-hide="issues === null || issues.length === 0 || !selectedRepositoryName">
    <table class="table table-hover"">
        <caption><label>Issues</label></caption>
        <thead>
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>State</th>
            <th>User</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="issue in issues">
            <td><a ng-href="#issue/{{githubUser}}/{{selectedRepositoryName}}/{{issue.number}}">{{issue.number}}</a></td>
            <td>{{issue.title}}</td>
            <td>{{issue.state}}</td>
            <td>{{issue.user.login}}</td>
            <td>{{issue.created_at.toDateString()}}</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-10">
            <nav ng-hide="!pages || pages.length === 0">
                <ul class="pagination">
                    <li ng-hide="currentPage === 1">
                        <a ng-click="onPreviousClicked()" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="pageNumber in pages" ng-class="(pageNumber === currentPage) ? 'active': ''"><a ng-click="onPageClicked(pageNumber)">{{pageNumber}}</a></li>
                    <li ng-hide="currentPage === pages.length || pages.length === 1">
                        <a ng-click="onNextClicked()" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2" style="margin-top: 17px;">
            Per page:
            <select class="form-control"
                    ng-options="pp for pp in possiblePerPage"
                    ng-model="perPage"
                    style="width: 70px;display: inline;"
                    ></select>
        </div>
    </div>

</div>
<div class="alert alert-info" role="" ng-show="issues.length === 0">No issues found</div>